//imports
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

//colors 
:root{
    --GrayishBlue: hsl(229, 8%, 60%);
    --VeryDarkBlue: hsl(229, 31%, 21%);
    --SoftBlue: hsl(231, 69%, 60%);
    --SoftRed: hsl(0, 94%, 66%);
    --White: #ffff;
    --clouds: #ecf0f1;
}

//fonts
:root{
    --Rubik: 'Rubik', sans-serif;
}