@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
:root {
  --GrayishBlue: hsl(229, 8%, 60%);
  --VeryDarkBlue: hsl(229, 31%, 21%);
  --SoftBlue: hsl(231, 69%, 60%);
  --SoftRed: hsl(0, 94%, 66%);
  --White: #ffff;
  --clouds: #ecf0f1; }

:root {
  --Rubik: 'Rubik', sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 18px;
  font-family: var(--Rubik);
  font-weight: 400; }

a {
  text-decoration: none; }

button {
  font-size: 18px;
  font-family: var(--Rubik);
  font-weight: 500; }

input {
  font-size: 18px;
  font-family: var(--Rubik);
  font-weight: 500; }

.btn {
  width: 190px;
  height: 50px;
  padding: 10px;
  border: none;
  outline: none;
  margin: 10px;
  background-color: var(--SoftBlue);
  color: var(--White);
  font-size: 15px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center; }
  .btn:hover {
    background-color: transparent;
    border: 2px solid var(--SoftBlue);
    color: var(--SoftBlue);
    cursor: pointer; }

.btn.secondary {
  background-color: var(--clouds);
  color: var(--GrayishBlue); }
  .btn.secondary:hover {
    background-color: transparent;
    border: 2px solid var(--GrayishBlue);
    color: var(--GrayishBlue);
    cursor: pointer; }

.btn.red {
  background-color: var(--SoftRed);
  color: var(--White); }
  .btn.red:hover {
    background-color: transparent;
    border: 2px solid var(--SoftRed);
    color: var(--SoftRed);
    cursor: pointer; }

.navbar {
  width: 100%;
  height: 70px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navbar__links__link {
    margin-left: 35px;
    color: var(--VeryDarkBlue);
    font-size: 16px; }
    .navbar__links__link:hover {
      color: var(--SoftRed); }
  .navbar__links .line {
    display: non; }
  .navbar__links__link.btn {
    width: 120px;
    height: 40px; }
  .navbar__hamburger {
    display: none; }

@media (max-width: 450px) {
  .navbar {
    width: 100%;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    .navbar__links {
      transform: translateY(-400%);
      transition: transform 1s ease-in;
      width: 85%;
      height: 55vh;
      background-color: var(--VeryDarkBlue);
      position: absolute;
      top: 10vh;
      left: 8%;
      z-index: 20;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .navbar__links__link {
        color: var(--White);
        margin: 30px; }
      .navbar__links .line {
        width: 90%;
        height: 2px;
        background-color: var(--White); }
    .navbar__links.active {
      transform: translateY(0%);
      transition: transform 1s ease-in; }
    .navbar__hamburger {
      width: 5%;
      height: inherit;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center; }
      .navbar__hamburger__item {
        display: block;
        width: 30px;
        padding: 1px;
        height: 3px;
        background-color: var(--VeryDarkBlue);
        margin-top: 5px;
        transition: all .50s ease; }
    .navbar .toggle .item1 {
      transform: rotate(-45deg) translate(-5px, 6px); }
    .navbar .toggle .item2 {
      opacity: 0;
      transform: translateX(-1px);
      transition: transform 2s ease;
      transform: rotate(45deg) translate(-5px, -6px); }
    .navbar .toggle .item3 {
      transform: rotate(45deg) translate(-5px, -6px); } }
.hero {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  overflow: hidden; }
  .hero::after {
    content: '';
    position: absolute;
    right: -60px;
    top: 20vh;
    border-bottom-left-radius: 30%;
    z-index: -10;
    width: 40%;
    height: 330px;
    background: var(--SoftBlue); }
  .hero__container {
    width: 100%;
    max-width: 1300px;
    height: 95%;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .hero__container__texts {
      width: 620px;
      height: 95%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .hero__container__texts__title {
        font-weight: 500;
        font-size: 50px;
        color: var(--VeryDarkBlue);
        margin-bottom: 10px; }
      .hero__container__texts__description {
        width: 80%;
        font-size: 16px;
        margin-bottom: 10px;
        color: var(--GrayishBlue); }
    .hero__container__img {
      width: 600px;
      height: 95%; }
      .hero__container__img img {
        width: 100%;
        height: 100%; }

@media (max-width: 450px) {
  .hero {
    width: 100%;
    height: 675px;
    padding: 0; }
    .hero::after {
      content: '';
      position: absolute;
      right: -60px;
      top: 15vh;
      border-bottom-left-radius: 30%;
      z-index: -10;
      width: 95%;
      height: 225px;
      background: var(--SoftBlue); }
    .hero__container {
      width: 100%;
      max-width: 400px;
      height: 90%;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-end;
      flex-direction: column-reverse; }
      .hero__container__img {
        width: 100%;
        height: 300px; }
        .hero__container__img img {
          width: 100%;
          height: 100%; }
      .hero__container__texts {
        width: 100%;
        height: 400px;
        text-align: center; }
        .hero__container__texts__title {
          font-size: 30px; }
        .hero__container__texts__description {
          display: inline-block;
          margin: 0 auto;
          font-size: 15px; }
        .hero__container__texts__btn-area {
          display: flex; }
          .hero__container__texts__btn-area .btn {
            height: 40px;
            font-size: 14px; } }

/*# sourceMappingURL=styles.css.map */
